/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 2em;
  margin: 20px 0 0 0;
  font-weight: 400;
}
h3 {
  color: blue;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  padding: 0px 5px;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
  width: 225px;
  padding: 0px 3px;
  margin: 8px 5px;
  background-color: #dfdfdf;
  font-size: 17px;
}
button {
  background-color: #008cba;
  color: white;
  margin: 5px;
}
.error {
  color: red;
  font-size: 20px;
}
.success {
  color: green;
  font-size: 20px;
}
